<h1>Games from Rawg API</h1>

<% if @games %>
  <ul>
    <% @games["results"].each do |game| %>
      <li><%= game["name"] %></li>
    <% end %>
  </ul>
<% else %>
  <p>Error fetching data from Rawg API</p>
<% end %>