<h1>Games from Rawg API</h1>

<% if @creator_roles %>
  <ul>
    <% @creator_roles["results"].each do |creator_roles| %>
      <li><%= creator_roles["name"] %></li>
    <% end %>
  </ul>
<% else %>
  <p>Error fetching data from Rawg API</p>
<% end %>